div#map{

	/*DIMENSIONS*/
	width: 100%;
	height: 50%;
}

div.hotel-button{
	float:left;
	text-align: center;
	width: calc(100%/3);
	height: 100%;
	font-family: 'Quicksand-Regular';
	position: relative;
}
div.hotel-button#transept-hotel-button{
	width: 100%;
}

div.hotel-button#transept-hotel-button div.vert-horiz-centered{
	width: 20%;
}

div.hotel-button:hover{
	cursor: pointer;

	background-color: #EEE;

	/*TRANSITION*/
	-webkit-transition: background-color 0.25s ease;
	transition: background-color 0.25s ease;
}

div.hotel-button h3{
	margin: 5px 0;
	text-align: left;
	font-family: 'Quicksand-Light';
	font-size: 1em;
}

a.hotel-link{
	text-decoration: none;
	color: black;
}
