html{ width: 100%; height: 100%;}
body{ margin: 0; font-size: 16px; width: 100%; height: 100%;}

/*
	General styles for the top navigation bar.
*/
nav#top-nav{

	/* DIMENSIONS */
	width: 100%;
	height: 150px;

	background-color: rgba(255,255,255,0.9);

	/* DISPLAY */
	display: block;

	/* FONT */
	font-family: 'Pinyon Script';
	
	/* POSITION */
	position: fixed;
	top: 0;

	/* TRANSITION */
	-webkit-transition: background-color 0.3s ease, font-size 0.3s ease, height 0.3s ease;
	transition: background-color 0.3s ease, font-size 0.3s ease, height 0.3s ease;
}

nav#top-nav:hover{

	/* BACKGROUND */
	background-color: rgba(255,255,255,0.7);
}

nav#top-nav ul{

	/* DIMENSIONS */
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;

	/* LIST STYLE */
	list-style-type: none;

	/* TEXT */
	text-align: center;
	font-family: 'Quicksand-Regular';
	font-size: 2em;
	color: black;
}

nav#top-nav li{

	/* DISPLAY */
	display: inline;

	/* DIMENSIONS */
	padding: 20px;

	/* TEXT */
	line-height: 100%;

	/* TRANSITIONS */
	-webkit-transition: color 0.2s ease;
	transition: color 0.2s ease;
}

nav#top-nav li:hover{

	/* TEXT */
	color: #888;

	/* CURSOR */
	cursor: pointer;
}

nav#top-nav li#top-nav-img{

	/* TEXT */
	font-family: 'Pinyon Script';
	font-size: 3.0em;
	padding: 0 40px;

	/* TRANSITIONS */
	-webkit-transition: none;
	transition: none;
}

nav#top-nav li#top-nav-img:hover{

	/* TEXT */
	color: #000;

	/* CURSOR */
	cursor: auto;
}

nav#top-nav.shrunk{

	/* DIMENSIONS */
	height: 100px;

	/* TEXT */
	font-size: 1em;
}

nav#top-nav.shrunk li#top-nav-img{

	/* TEXT */
	font-family: 'Pinyon Script';
	font-size: 2.5em;
	padding: 0 40px;

	/* TRANSITIONS */
	-webkit-transition: none;
	transition: none;
}

div.section{

	/* DIMENSIONS */
	width: 100%;
	text-align: center;

	font-size: 1.25em;
	padding-top: 20px;
	padding-bottom: 20px;

}

div.section:nth-child(even){

	/* BACKGROUND */
	background-color: #EEE;
}

div#top-section{

	/* BACKGROUND */
	background-image: url('../img/IMG_0069.jpg');
	background-repeat: no-repeat;
	background-size: cover;

	/* DIMENSIONS */
	width: 100%;
	height: 105%;
}

/****
	Start grid related experimentation...
****/

.one-column{
	width: 10%;
}

.two-column{
	width: 20%;
}

.three-column{
	width: 30%;
}

.four-column{
	width: 40%;
}

.five-column{
	width: 50%;
}

.six-column{
	width: 60%;
}

.seven-column{
	width: 70%;
}

.eight-column{
	width: 80%;
}

.nine-column{
	width: 90%;
}

.ten-column{
	width: 100%;
}

/****
	End grid related experimentation...
****/

h1.section-header{

	/* FONT */
	font-family: 'Quicksand-Light';
	font-size: 1.5em;
	text-align: center;

	/* DIMENSIONS */
	margin: 0;
	padding-bottom: 10px;

}

hr.section-header-bar{

	/* DIMENSIONS */
	width: 100px;
	height:1px;

	/* BACKGROUND */
	background-color: black;

	/* OUTLINE */
	outline: none;

	/* BORDER */
	border: none;

	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

p{
	/* TEXT */
	text-align: justify;
	font-family: 'Quicksand-Light';

	/* DIMENSIONS */
	margin: auto;
	padding: 10px;
}

img.section-icon{

	/* DIMENSIONS */
	width: 64px;
	height: 64px;

	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

img.section-icon:hover{

	-webkit-transform: translateY(-5px);
	transform: translateY(-5px);
}

img.section-icon:hover + hr.section-header-bar{

	width: 75px;
}

div.section#proposal-section{

	/* DIMENSIONS */
	height: 200%;

	/* TEXT */
	font-family: 'Quicksand-Regular';

	/* BACKGROUND */
	background-image: url('../img/DSC_0543.jpg');
	background-position: 0% 85%;
	background-size: cover;
	background-repeat: no-repeat;
}

footer{

	/* TEXT */
	font-family: 'Quicksand-Regular';
	text-align: center;

	/* DIMENSIONS */
	padding: 10px;
}