html{ width: 100%; height: 100%;}
body{ margin: 0; font-size: 16px; width: 100%; height: 100%;}

/*
	General styles for the top navigation bar.
*/
nav#top-nav{

	/* DIMENSIONS */
	width: 100%;
	height: 150px;

	background-color: rgba(255,255,255,0.9);

	/* DISPLAY */
	display: block;

	/* FONT */
	font-family: 'Pinyon Script';
	
	/* POSITION */
	position: fixed;
	top: 0;

	/* TRANSITION */
	-webkit-transition: background-color 0.3s ease, font-size 0.3s ease, height 0.3s ease;
	transition: background-color 0.3s ease, font-size 0.3s ease, height 0.3s ease;
}

nav#top-nav:hover{

	/* BACKGROUND */
	background-color: rgba(255,255,255,0.7);
}

nav#top-nav ul{

	/* DIMENSIONS */
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;

	/* LIST STYLE */
	list-style-type: none;

	/* TEXT */
	text-align: center;
	font-family: 'Quicksand-Regular';
	font-size: 2em;
	color: black;
}

nav#top-nav li{

	/* DISPLAY */
	display: inline;

	/* DIMENSIONS */
	padding: 20px;

	/* TEXT */
	line-height: 100%;

	/* TRANSITIONS */
	-webkit-transition: color 0.2s ease;
	transition: color 0.2s ease;
}

nav#top-nav li:hover{

	/* TEXT */
	color: #888;

	/* CURSOR */
	cursor: pointer;
}

nav#top-nav li#top-nav-img{

	/* TEXT */
	font-family: 'Pinyon Script';
	font-size: 3.0em;
	padding: 0 40px;

	/* TRANSITIONS */
	-webkit-transition: none;
	transition: none;
}

nav#top-nav li#top-nav-img:hover{

	/* TEXT */
	color: #000;

	/* CURSOR */
	cursor: auto;
}

nav#top-nav.shrunk{

	/* DIMENSIONS */
	height: 100px;

	/* TEXT */
	font-size: 1em;
}

nav#top-nav.shrunk li#top-nav-img{

	/* TEXT */
	font-family: 'Pinyon Script';
	font-size: 2.5em;
	padding: 0 40px;

	/* TRANSITIONS */
	-webkit-transition: none;
	transition: none;
}

div.section{

	/* DIMENSIONS */
	width: 100%;
	text-align: center;

	font-size: 1.25em;
	padding-top: 20px;
	padding-bottom: 20px;

}

div.section:nth-child(even){

	/* BACKGROUND */
	background-color: #EEE;
}

div#top-section{

	/* BACKGROUND */
	background-image: url('../img/IMG_0069.jpg');
	background-repeat: no-repeat;
	background-size: cover;

	/* DIMENSIONS */
	width: 100%;
	height: 105%;
}

/****
	Start grid related experimentation...
****/

.one-column{
	width: 10%;
}

.two-column{
	width: 20%;
}

.three-column{
	width: 30%;
}

.four-column{
	width: 40%;
}

.five-column{
	width: 50%;
}

.six-column{
	width: 60%;
}

.seven-column{
	width: 70%;
}

.eight-column{
	width: 80%;
}

.nine-column{
	width: 90%;
}

.ten-column{
	width: 100%;
}

/****
	End grid related experimentation...
****/

h1.section-header{

	/* FONT */
	font-family: 'Quicksand-Light';
	font-size: 1.5em;
	text-align: center;

	/* DIMENSIONS */
	margin: 0;
	padding-bottom: 10px;

}

hr.section-header-bar{

	/* DIMENSIONS */
	width: 100px;
	height:1px;

	/* BACKGROUND */
	background-color: black;

	/* OUTLINE */
	outline: none;

	/* BORDER */
	border: none;

	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

p{
	/* TEXT */
	text-align: justify;
	font-family: 'Quicksand-Light';

	/* DIMENSIONS */
	margin: auto;
	padding: 10px;
}

img.section-icon{

	/* DIMENSIONS */
	width: 64px;
	height: 64px;

	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

img.section-icon:hover{

	-webkit-transform: translateY(-5px);
	transform: translateY(-5px);
}

img.section-icon:hover + hr.section-header-bar{

	width: 75px;
}

div.section#proposal-section{

	/* DIMENSIONS */
	height: 200%;

	/* TEXT */
	font-family: 'Quicksand-Regular';

	/* BACKGROUND */
	background-image: url('../img/DSC_0543.jpg');
	background-position: 0% 85%;
	background-size: cover;
	background-repeat: no-repeat;
}

footer{

	/* TEXT */
	font-family: 'Quicksand-Regular';
	text-align: center;

	/* DIMENSIONS */
	padding: 10px;
}

/************************** ACCOMODATIONS **************************/

nav#side-nav{

	/*POSITION*/
	position: fixed;
	right: 0;
	top: 0;

	/*DIMENSIONS*/
	width: 20%;
	height: 100%;

	/*STACKING*/
	z-index: 100;

	/*TRANSITION*/
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;

	/*TRANSFORMATION*/
	-webkit-transform: translateX(0%);
	transform: translateX(0%);

	/* COLORING */
	background-color: #EEE;
}

nav#side-nav ul{

	/*DIMENSIONS*/
	padding: 0;
	margin: 0;

	/*LIST*/
	list-style: none;

	/*POSITION*/
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);

	/*FONT*/
	font-family: 'Quicksand-Light';
	font-size: 2em;
}

nav#side-nav ul li{

	/*DIMENSIONS*/
	padding: 30px 0 30px 30px;

	/*TRANSITION*/
	-webkit-transition: padding 0.3s ease, color 0.3s ease;
	transition: padding 0.3s ease, color 0.3s ease;
}

nav#side-nav ul li:hover{
	
	/*DIMENSIONS*/
	padding: 30px 0 30px 35px;

	/*CURSOR*/
	cursor: pointer;
}

nav#side-nav ul li a{

	/*TEXT*/
	text-decoration: none;

	/*TRANSITION*/
	-webkit-transition: padding 0.3s ease, color 0.3s ease;
	transition: padding 0.3s ease, color 0.3s ease;

	/*COLOR*/
	color: #000;
}

nav#side-nav ul li:hover a{
	
	/*COLOR*/
	color: #999;
}

div#side-nav-button{

	position: fixed;
	top: 10px;
	right: 20px;

	z-index: 101;

	width: 40px;
	height: 55px;

}

div#side-nav-button:hover{

	/*CURSOR*/
	cursor: pointer;

}

div#side-nav-button:hover .stack{

	/*COLOR*/
	background-color: #999;

}

div#side-nav-button .stack{

	position: absolute;
	z-index: 102;
	top: 50%;

	/*DIMENSIONS*/
	width: 100%;
	height: 10%;

	/*COLOR*/
	background-color: black;

	/*TRANSITION*/
	-webkit-transition: top 0.2s ease, background-color 0.25s ease;
	transition: margin 0.2s top, background-color 0.25s ease;

	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);

}

div#side-nav-button .stack:first-child{

	/*POSITION*/
	top: 25%;

	-webkit-transform: none;
	transform: none;

}

div#side-nav-button .stack:last-child{

	/*POSITION*/
	top: 65%;

	-webkit-transform: none;
	transform: none;

}

div#side-nav-button:hover div.stack:first-child{

	/*POSITION*/
	top: 20%;

}

div#side-nav-button:hover div.stack:last-child{

	/*POSITION*/
	top: 70%;

}

div#page-header{

	/*TEXT*/
	text-align: center;
	font-size: 1.5em;
	font-family: 'Quicksand-Regular';

	position: relative;
}

div#map{

	/*DIMENSIONS*/
	width: 100%;
	height: 50%;
}

div.hotel-button{
	float:left;
	text-align: center;
	width: 50%;
	height: 100%;
	font-family: 'Quicksand-Regular';
	position: relative;
}

div.hotel-button:hover{
	cursor: pointer;

	background-color: #EEE;

	/*TRANSITION*/
	-webkit-transition: background-color 0.25s ease;
	transition: background-color 0.25s ease;
}

div.hotel-button h3{
	margin: 5px 0;
	text-align: left;
	font-family: 'Quicksand-Light';
}

div.vert-horiz-centered{

	position:relative;
	top: 50%;

	display: block;
	margin: 0 auto;
	width: 60%;

	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

div.half-section{
	width: 100%;
	height: 50%;
}

div.quarter-section{
	width: 100%;
	height: 25%;
}