html{ width: 100%; height: 100%;}
body{ margin: 0; font-size: 16px; width: 100%; height: 100%; font-family: 'Quicksand-Regular';}

div.section{

	/* DIMENSIONS */
	width: 100%;
	text-align: center;

	font-size: 1.25em;
	padding-top: 20px;
	padding-bottom: 20px;

}
div.section:nth-child(odd){

	/* BACKGROUND */
	background-color: #FFF;
}

div.section:nth-child(even){

	/* BACKGROUND */
	background-color: #EEE;
}

div#top-section{

	/* BACKGROUND
	background-image: url('../img/engagement_photo.jpg');
	background-repeat: no-repeat;
	background-size: cover;*/
	background-color: rgba(0, 0, 0, 0.0);

	/* DIMENSIONS */
	width: 100%;
	height: 80%;
}

.six-column{
	width: 60%;
}

h1.section-header{

	/* FONT */
	font-family: 'Quicksand-Light';
	font-size: 1.5em;
	text-align: center;

	/* DIMENSIONS */
	margin: 0;
	padding-bottom: 10px;

}

hr.section-header-bar{

	/* DIMENSIONS */
	width: 100px;
	height:1px;

	/* BACKGROUND */
	background-color: black;

	/* OUTLINE */
	outline: none;

	/* BORDER */
	border: none;

	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

p{
	/* TEXT */
	text-align: justify;
	font-family: 'Quicksand-Light';

	/* DIMENSIONS */
	margin: auto;
	padding: 10px;
}

img.section-icon{

	/* DIMENSIONS */
	width: 64px;
	height: 64px;

	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

img.section-icon:hover{

	-webkit-transform: translateY(-5px);
	transform: translateY(-5px);
}

img.section-icon:hover + hr.section-header-bar{

	width: 75px;
}

div.section#proposal-section{

	/* DIMENSIONS */
	height: 200%;

	/* TEXT */
	font-family: 'Quicksand-Regular';

	/* BACKGROUND */
	background-image: url('../img/DSC_0543.jpg');
	background-position: 0% 85%;
	background-size: cover;
	background-repeat: no-repeat;
}

footer{

	/* TEXT */
	font-family: 'Quicksand-Regular';
	text-align: center;

	/* DIMENSIONS */
	padding: 10px;

	background-color: #FFF;
}

nav#side-nav{

	/*POSITION*/
	position: fixed;
	right: 0;
	top: 0;

	/*DIMENSIONS*/
	width: 25%;
	height: 100%;

	/*STACKING*/
	z-index: 100;

	/*TRANSITION*/
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;

	/*TRANSFORMATION*/
	-webkit-transform: translateX(100%);
	transform: translateX(100%);

	/* COLORING */
	background-color: #FFF;
}

nav#side-nav.show-side-nav{

	/*TRANSFORMATION*/
	-webkit-transform: translateX(0%);
	transform: translateX(0%);

}

nav#side-nav ul{

	/*DIMENSIONS*/
	padding: 0;
	margin: 0;

	/*LIST*/
	list-style: none;
	text-align: center;

	/*POSITION*/
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);

	/*FONT*/
	font-family: 'Quicksand-Regular';
	font-size: 2.0em;
}

nav#side-nav ul li{

	/*DIMENSIONS
	padding: 15px 0 15px 30px;*/
	padding: 20px 0 20px 0;

	/*TRANSITION*/
	-webkit-transition: padding 0.3s ease, color 0.3s ease;
	transition: padding 0.3s ease, color 0.3s ease;
}

nav#side-nav ul li:hover{

	/*DIMENSIONS
	padding: 15px 0 15px 35px;

	/*CURSOR*/
	cursor: pointer;
}

nav#side-nav ul li a{

	/*TEXT*/
	text-decoration: none;

	/*TRANSITION*/
	-webkit-transition: padding 0.3s ease, color 0.3s ease;
	transition: padding 0.3s ease, color 0.3s ease;

	/*COLOR*/
	color: #000;
}

nav#side-nav ul li:hover a{

	/*COLOR*/
	color: #999;
}

div#side-nav-button{

	position: fixed;
	top: 10px;
	right: 20px;

	z-index: 101;

	width: 40px;
	height: 55px;

}

div#side-nav-button:hover{

	/*CURSOR*/
	cursor: pointer;

}

div#side-nav-button:hover .stack{

	/*COLOR*/
	background-color: #999;

}

div#side-nav-button .stack{

	position: absolute;
	z-index: 102;
	top: 50%;

	/*DIMENSIONS*/
	width: 100%;
	height: 10%;

	/*COLOR*/
	background-color: black;

	/*TRANSITION*/
	-webkit-transition: top 0.2s ease, background-color 0.25s ease;
	transition: margin 0.2s top, background-color 0.25s ease;

	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);

}

div#side-nav-button .stack:first-child{

	/*POSITION*/
	top: 25%;

	-webkit-transform: none;
	transform: none;

}

div#side-nav-button .stack:last-child{

	/*POSITION*/
	top: 65%;

	-webkit-transform: none;
	transform: none;

}

div#side-nav-button:hover div.stack:first-child{

	/*POSITION*/
	top: 20%;

}

div#side-nav-button:hover div.stack:last-child{

	/*POSITION*/
	top: 70%;

}

div#page-header{

	/*TEXT*/
	text-align: center;
	font-size: 1.5em;
	font-family: 'Quicksand-Regular';

	position: relative;
}

div.vert-horiz-centered{

	position:relative;
	top: 50%;

	display: block;
	margin: 0 auto;
	width: 60%;

	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

div.half-section{
	width: 100%;
	height: 50%;
}

div.quarter-section{
	width: 100%;
	height: 25%;
}

a.registry-link{
	width: 50%;
	height: 50%;
	display: block;
	float: left;

	/*TRANSITION*/
	-webkit-transition: background-color 0.25s ease;
	transition: background-color 0.25s ease;
}

a.registry-link:hover{
	background-color: #EEE;
}

a.registry-link img{
	width: 50%;

	position: relative;
	top: 50%;

	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

#top-section h1{

	position: relative;
	top: 50%;
	font-size: 5em;
	margin: 0;

	font-family: 'Quicksand-Light';

	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

#top-section h1 span{

	font-family: 'Quicksand-Light';
	margin-left: 10px;
	margin-right: 10px;
	vertical-align: 25%;
}

div.matching-guest-card h2, h3, h4{
	margin: 0;
}

div.matching-guest-card h4{
	color: #999;
}

div.matching-guest-card{
	/*TRANSITION*/
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

div.matching-guest-card:hover{
	color: #999;
	cursor: pointer;
}

hr.section-header-bar.spaced{
	margin-top: 50px;
	margin-bottom: 50px;
}
