/* Downloaded from http://www.fontsquirrel.com/fonts/quicksand */
@font-face {
    font-family: Quicksand-Light;
    src: url('../font/quicksand/Quicksand-Light.otf');
}

/* Downloaded from http://www.fontsquirrel.com/fonts/quicksand */
@font-face {
    font-family: Quicksand-Regular;
    src: url('../font/quicksand/Quicksand-Regular.otf');
}

/* Downloaded from http://www.fontsquirrel.com/fonts/quicksand */
@font-face {
    font-family: Quicksand-Bold;
    src: url('../font/quicksand/Quicksand-Bold.otf');
}
