div.modal-container{

	/* DIMENSIONS */
	width: 100%;
	height: 100%;

	/* BACKGROUND */
	background-color: white;

	/* TEXT */
	font-family: 'QuickSand-Light';
	font-size: 1.25em;
	color: black;

	/* POSITION */
	position: fixed;

	/* Z */
	z-index: 100;

	/* OPACITY AND VISIBILITY */
	opacity: 0;
	visibility: hidden;

	/* TRANSITION */
	-webkit-transition: opacity 0.25s ease-in-out, visibility 0.25s ease-in-out;
	transition: opacity 0.25s ease-in-out, visibility 0.25s ease-in-out;
}

div.modal-container.show-modal{

	/* OPACITY AND VISIBILITY */
	opacity: 1;
	visibility: visible;

}

div.modal-container > span.modal-close-button-container{

	/* POSITION */
	position: absolute;
	top: 0;
	left: 0;

	/* DISPLAY */
	display: inline-block;

	/* DIMENSIONS */
	width: 1em;
	height: 1em;

	/* TEXT */
	font-size: 2.5em;
	line-height: 1em;
	text-align: center;
}

div.modal-container > span.modal-close-button-container:hover{

	/* TEXT */
	color: #555;

	/* CURSOR */
	cursor: pointer;
}

div.modal-container > div.modal-content{

	/* DIMENSIONS */
	width: 100%;
	height: 100%;

	/* TEXT */
	text-align: center;

	/* DISPLAY */
	display: none;
}

div.modal-container > div.modal-content.show-content{

	/* DISPLAY */
	display: block;

}

div.modal-container > div.modal-content p{

	/* TEXT */
	text-align: center;
}

div.modal-container > div.modal-content h1{

	/* DIMENSIONS */
	margin-top: 0;
}

div.modal-container > div.modal-content input[type='text']{

	/* DISPLAY */
	display: block;

	/* DIMENSION */
	width: 290px;
	margin: auto;
	margin-top: 40px;
	margin-bottom: 40px;
	padding: 5px;

	/* BORDER */
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom-color: #999;
	border-width: 1px;

	/* OUTLINE */
	outline: none;

	/* TEXT */
	font-size: 1em;
	font-family: 'QuickSand-Light';

	/* TRANSITION */
	-webkit-transition: border-bottom-color 0.3s linear;
	transition: border-bottom-color 0.3s linear;
}

div.modal-container > div.modal-content input[type='text']:hover{

	/* BORDER */
	border-bottom-color: #000;

}

div.modal-container > div.modal-content input[type='text']:focus{

	/* BORDER */
	border-bottom-color: #000;

}

div.modal-container > div.modal-content input[type='submit']{

	/* TURN OFF WEBKIT */
	-webkit-appearance: none;

	/* DIMENSIONS */
	width: 200px;
	padding:10px;

	/* TEXT */
	font-size: 1em;
	font-family: 'QuickSand-Light';

	/* OUTLINE */
	outline: none;
	border: 1px solid black;

	/* BACKGROUND */
	background-color: white;

	/* TRANSITION */
	-webkit-transition: background-color 0.3s ease, color 0.2s ease;
	transition: background-color 0.3s ease, color 0.4s ease;

}

div.modal-container > div.modal-content input[type='submit'].inline{

	/* DISPLAY */
	display: inline-block;

}

div.modal-container > div.modal-content input[type='submit']:hover{

	/* CURSOR */
	cursor: pointer;

	/* COLOR */
	color: white;

	/* BACKGROUND */
	background-color: black;


}

div.modal-container > div#rsvp-modal-error{

	/* COLOR */
	color: red;
}

div.modal-container > div.modal-content > div.centered{

	/* POSITION */
	position: relative;
	top: 50%;

	/* TRANSITION */
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

div.modal-container > div.modal-content > form{

	/* POSITION */
	position: relative;
	top: 50%;

	/* TRANSITION */
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

div#guest-info{

	/* DISPLAY */
	display: none;

}

div#guest-info.show-guest-info{

	/* DISPLAY */
	display: block;

}

input#rsvp-code-input{
	width: 50%;
	font-size: 5em;
	margin: 30px auto;
}

a#what-code-link{

	/* TURN OFF WEBKIT */
	-webkit-appearance: none;
	position:absolute;
	bottom: 10px;
	right:10px;
	text-decoration: none;
	color: black;
}

select.meal-selection{
	-webkit-appearance: none;
	display: block;
	margin: 25px auto;
	width: 295px;
	padding: 5px;
	border-top: none;
	border-left: none;
	border-right: none;
	outline: none;
	border-bottom: 1px solid #EEE;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	font-size: 1em;
	font-family: 'QuickSand-Light';
	color:#AAA;

	/* TRANSITION */
	-webkit-transition: border-bottom-color 0.3s linear;
	transition: border-bottom-color 0.3s linear;
}

select.meal-selection:hover{
	border-bottom: 1px solid #000;
}